*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    
    display: flex;
    justify-content: space-around;
    background-color: #fff;
    width: 100vw;
    height: 25vw;
    }
header #logo{
    width: 70px;
    padding-top:0;
}
header #logo img{
    width: 100%;
}
header #Título{
    width: 50vw;
}
header #Título h1{
    font-size: 6vw;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    
}
header #icon-menu{
    width: 80px;
}
header #icon-menu img{
    width: 100%;
}

nav{
    position: absolute;
    margin-top: 25vw;
    width: 100vw;
    background-color: #c3c3c3;
}
nav ul{
    list-style: none;
    font-size: 4vw;
}
nav ul li{
    padding: 1vh 0 1vh 0;
    border-bottom: 1px solid black;
}
main{
    width: 100vw;
}
main h2{
    padding-top: 10vh;
}
body{
    background-color: #c3c3c3;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    font-size:3vw;
}

@media only screen and (max-width: 400p) and (max-height:600p) {
    .column{
        align-content: center;
        flex-direction: column;
        height:100%;
        width:100%;
    }
}

footer{
    text-align: center;
    padding: 0.5vw;
    background-color: #ffff;
    margin: auto;
    width: 100vw;
    bottom: 0;
    position: fixed;
}

div{
    margin-top: 10vw;
    margin-bottom: 10vw;
    padding-right: 2vw;
    padding-left: 2vw;
}

